body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(images/nc_portfolio-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}
