body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://n4ika.github.io/my-portfolio/images/nc_portfolio-bg.jpg);
  background-size: cover;
  z-index: -1;
}
